[Unit]
Description=Magnus Pi Gateway
After=multi-user.target

[Service]
Type=idle
Environment=LOGXI=*
Environment=LOGXI_FORMAT=happy,maxcol=4096
ExecStart=
ExecStart=/home/pi/pi-gateway/bin/pi-gateway -loglevel=info -tecthulhus http://192.168.66.13/portals/Tecthulhu07.json

[Install]
WantedBy=multi-user.target

